/* Mobile First  */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	color: #f8f8f8;
	font-family: monospace, sans-serif;
	background-color: #fafafa;
	text-align: center;
	margin: 0 auto;
}

header {
	width: 100%;
}

ul {
	list-style: none;
	display: inline;
	padding: 0;
}

li {
	display: inline;
	width: auto;
	height: auto;
}

.container {

    align-items: center;
    margin: 0 auto;
	max-width: 800px;
}

.photo {
	height: 150px;
	width: 150px;
	margin: 20px;
	display: inline-flex;
}

input::placeholder{
	color: lightgray;
}

/*Lightbox changes*/

.lightboxOverlay {
	background-color: #282828;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}

.lightbox .lb-image {
	border: none;
	border-radius: 0;
	margin-top: 50px;
}

.lb-nav a.lb-next {
  position: relative;
  right: -100px;
  top: 0;
}
.lb-nav a.lb-prev {
  position: relative;
  left: -100px;
  top: 0;
}

.lb-close {
	visibility: hidden;
}

.lb-data .lb-details {
	height: auto;
	margin: 30px auto 0;
	float: none;
}

/*HideSeek changes*/

#search {
	display: block;
	margin: 20px auto;
	width: 50%;
	border: 2px solid lightgray;
	border-radius: 5px;
	padding: 5px;
	color: lightgray;
	font-size: 16pt;
}

#search:focus {
	outline: none;
	color: lightgray;
}